//
//  Secrets.xcconfig
//  CelebSchool
//
//  Created by Kyuhong Jo on 5/6/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


GOOGLE_CLIENT_URL = 284869503910-qigbbidtc4i7su8pn1r92f68qu8q1m93.apps.googleusercontent.com
REVERSE_GOOGLE_CLIENT_URL = com.googleusercontent.apps.284869503910-qigbbidtc4i7su8pn1r92f68qu8q1m93
YOUTUBE_API_KEY = AIzaSyDpPjP0ExSq2Gq26fsK2ofAI_LD5r6SIjg
